.nav {
    /* background: linear-gradient(91deg, #FDD9B3 45.26%, #FEF1E3 99.33%); */
}

.auth-area {
    background: url('../images/authbg.png');
}

.auth-form-card {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.link-item:hover {
    cursor: pointer;
    background: #F2F5F7;
    border-radius: 8px;
}

.link-item:hover span {
    color: #0C0E3B;
}

.active-link {
    cursor: pointer;
    background: #F2F5F7;
    border-radius: 8px;
}

.active-link span {
    color: #0C0E3B;
}

.btn {
    border-radius: 8px;
    padding: 10px;
    background: linear-gradient(180deg, #00AEEF 0%, #0C0E3B 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sp {
    border-radius: 8px;
    padding: 10px 40px;
    background: linear-gradient(180deg, #00AEEF 0%, #0C0E3B 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    padding: 3px 10px;
    border-radius: 2px;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.status-mobile {
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 2px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pending {
    color: #FF9E3A;
    background: #FFF9F2;
}

.in-progress {
    color: #2D36FF;
    background: rgba(216, 217, 255, 0.47);
}

.completed {
    background-color: rgba(208, 255, 230, 0.47);
    color: #009A49;
}

.canceled {
    background: #FFE8E8;
    color: #FA3434;
}

.day {
    transition: all 1s;
}

.day:hover {
    background: linear-gradient(180deg, #00AEEF 0%, #0C0E3B 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
    color: white;
    cursor: pointer;
}

.active-day {
    background: linear-gradient(180deg, #00AEEF 0%, #0C0E3B 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
}

.people-holder{
    border-radius: 34px;
    background: linear-gradient(112deg, #06598F 58.53%, #FED6AC 113.83%);
}

.join {
    border-radius: 192px;
    background: linear-gradient(97deg, #FED6AC -3.47%, #FFBB74 108.43%);
    box-shadow: 0px 30px 50px 0px rgba(168, 22, 75, 0.15);
    padding: 24px 63px;
    color: #202020;
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.36px;
}

.join-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 192px;
    background: linear-gradient(97deg, #FED6AC -3.47%, #FFBB74 108.43%);
    box-shadow: 0px 30px 50px 0px rgba(168, 22, 75, 0.15);
    padding: 24px 63px;
    color: #202020;
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.36px;
}

.copyright {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 0px;
    justify-content: center;
    border-top: 1px solid var(--gray-300, #DEE2E7);
    background: linear-gradient(126deg, #FFC78C -0.16%, #F8EBE0 67.32%);
}

.sent {
    float: right;
    clear: both;
}

.sent .messages {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: -62px;
}

.sent .messages .message {
    margin-right: 62px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #8E9EA4;
    padding: 8px 16px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
    letter-spacing: 0.14px;
}

.received {
    margin: 50px 0px;
    clear: both;
}

.received .messages {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
}

.received .message .message {
    border-radius: 10px;
    border: 1px solid #06AEEE;
    background: #FFF;
    margin-bottom: 10px;
    padding: 8px 10px;
    color: #00C9FF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
    letter-spacing: 0.14px;
}

/* Loaders */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* Button Spinner */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Creating the dots */
.loader span {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: white;
    animation: loading 1s linear infinite;
}

/* Creating the loading animation*/
@keyframes loading {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }

}

.loader span:nth-child(1) {
    animation-delay: 0.1s;
    width: 32.5px;
    height: 32.5px;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
    width: 23.21px;
    height: 23.21px;
}

.loader span:nth-child(3) {
    animation-delay: 0.3s;
    width: 16.25px;
    height: 16.25px;
}

.loader span:nth-child(4) {
    animation-delay: 0.4s;
    width: 9.29px;
    height: 9.29px;
}


